html, body {
	height: 100%;
	margin: 0; 
	padding: 0;
}

body {
	text-align: center;
	font-size: 13px;
	font-family: "Open Sans", verdana, helvetica;
}

h1, h2, h3, h4, h5, h6 {
	color: #33659f;
}

div {
	text-align: left;
}

#time {
	position: absolute;
	right: 25px;
	top: 66px;
}

#wwuheader {
	margin: 0; 
	border: 0px;
	margin: 0px;
	padding: 8px;
	top: 0px;
	left: 0px;
/*	border-bottom: 1px solid #999;
*//*	box-shadow: 2px 3px 3px #CCC; */	

	background: #33659f;	
	color: #FFF;
	height: 50px;
	background-image: linear-gradient(to right, #33659f 50%, #003f87 93%);
}

.onesearch-header {
	background: #33659f;	
	color: #FFF;
	background-image: linear-gradient(to right, #33659f 50%, #003f87 93%);
	box-shadow:  3px 5px 11px #ddd;
	border-radius: 8px;
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
	margin-bottom: 10px;
	padding-top: 7px !important;
	vertical-align: middle;
	padding: 5px;
}

#onesearchLogo {
	border: 0px;
	width: 125px;
}

#onesearch_search {
    width: 72%;
    display: inline-block;
    float: right;
    }

#gradient {
	  width: 100%;
	  background: #668cb7;
	  color: #fff;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);  
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #668CB7), color-stop(50, #99B2CF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* W3C Markup */ 
	background-image: linear-gradient(to top left, #668CB7 0%, #99B2CF 50%);
}

#title {
	font-size: 300%;
   	opacity: 0.1;
	position: absolute;
	top: 0;
	z-index: 4;
}

.orange_dot {	
	transition: opacity 500 ease-in-out;
    	background: #ffc61e;
 }


#rws_dot {
    background: #ffc61e;
    width: 2px;
    height: 2px;
    position: relative;
    top: 7px;
    z-index: 0;
    opacity: 1;
    left: 189px;
    top: 51px;
    display: none;
}

#wwuheader h2 {
	font-size: 95%;
	font-weight: normal;
	opacity: 0.9;
	text-align:  left;
	position: absolute;
	top: 33px;
	left: 13px;
	color: #FFF;
}

#wwuheader b {
	margin: 0;
	padding-left: 2em;
}

#wwulogo {
    top: 17px;
    position: absolute;
    right: 26px;
}

#wwulogo img {
	width: 147px;
}

#logo {
	width: 140px;
}


#main {
	margin: 10px;
	padding: 10px;
	text-align: left;
	/*margin-top: 25px;*/
}

#left {
	padding-right: 15px;
}

#right {
	padding-left: 15px;
}

.grid {
	display: flex;
	text-align: left;
}

.grid > div > div {
	border: 0px dotted green;
	padding: 2px;
	clear: left;
	margin-top: 1em;
}


.grid-cell {
	flex: 1;
}

.grid-cell2 {
	flex: 2;
}

.grid-cell3 {
	flex: 3;
}

.grid-cell4 {
	flex: 4;
}

#nav0 {
	height: 27px;
	line-height: 27px;
	font-size: 95%;
}

#nav0 .grid-cell {
	/*border: 1px solid #efefef;*/
}

#nav0 .active {
/*	background: #ddd;
	box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.35);
	border-radius: 31px 31px 0px 0px;
*/}

.right {
	float:  right;
}



.tool_tip {
	font-size: 90%;
	opacity: 0.5;
	display: table-cell;	/* only as wide as necessary so that it does not interfere with the submit button */
	padding: 7px !important;
}

.tool_tip:hover {
	box-shadow: inset 1px 1px 5px #555;
	border-radius: 8px;
}

.tool_tip:before {
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f0eb";	
}

.tool_tip:hover:before {
   	/*background: rgb(255, 255, 153); */
	background: lightyellow;
	border-radius: 50%;
	height: 1em;
	width: 1em;
}

.tooltip_hover {
   	background: #ffc61e;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	transition:all 1s;
}

.tooltip_popup {
	display: none;
	opacity: 1;
	color: #111;
	padding: 2em;
	background: white;
	position: absolute;
	width: 300px;
	height: auto;
	z-index: 999;
	box-shadow: 1px 3px 3px 3px #bbb;
	border-radius: 5px;
}

.close_tooltip {
    float: right;
    cursor: pointer;
    cursor: hand;
}


.showdragbox {
	color: #999;
	padding-left: 1em;
}

.dragbox {
	display: none;
	background: white;	
	opacity: 1;
	text-align: left;
	width: 350px;
	height: 300px !important;
	z-index: 999;
	overflow: auto;
	box-shadow: 1px 3px 3px 3px #bbb;
	border-radius: 5px;
	position: absolute;
	top: 30px;
	left: 50px;
}

.dragbox div.handle {
	background-color: #33659f;
	color:#FFF;
	border-radius: 5px 5px 0px 0px;
	cursor: move;
	padding: 5px !important;
	padding-left: 15px !important;
	letter-spacing: 10px !important;

	background-image: -ms-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #668CB7), color-stop(50, #99B2CF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);
	/* W3C Markup */ 
	background-image: linear-gradient(to top left, #668CB7 0%, #99B2CF 50%);
}


button {
	border-radius: 5px;

}

button a {
	text-decoration: none;
}

.dragbox div {
	overflow: auto;
	color: #111;
	font-size: 90%;
	padding: 1em !important;
	margin-top: 0px !important;
}

.close_dragbox {
    float: right;
    cursor: pointer;
    padding-top: 3px;
/*    opacity: 0.7;*/
}


form * {
	margin: 1px;
	padding: 2px;
}

input {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding: 3px;
}

input[type=submit] {
/*    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
*/    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    padding:  6px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width: auto;
}

input[type=submit]:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}


.textarea_container {
	width: 100%;
	min-height: 100px;
	max-height: 500px;
	background: #fff;
	padding: 5px;
	overflow: auto;
	margin: 0px;
	z-index: 999;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.textarea_container > textarea {
	width: 100%;
	padding: 0px;
	min-height: inherit;
	max-height: inherit;
	height: inherit;
 	background: transparent;
}

/*.textarea_container > input {
	margin-left: 5px;
}
*/
#example_assignments {
	opacity: 0.5;
	padding-top: 2em;
}

.example_assignment {
	cursor: pointer;
}

.highlight {
	background: lightgoldenrodyellow;
	background: #ffc61e;
  	transition: opacity 500 ease-in-out;
}


input[type=checkbox].checkbox {
    position: absolute;
    left: -1000px;
}

input[type=checkbox].checkbox + label:before {
    content: "\f096";
    font-family: FontAwesome;
    display: inline-block;
    padding: 0 0 0 0px;
    color: #444;
    padding-left: 5px;
}

input[type=checkbox].checkbox:checked + label:before {
    content: "\f046";
    font-family: FontAwesome;
    display: inline-block;
    padding: 0 0 0 0px;
    color: #444;
    padding-left: 5px;
    /*border: 1px black dotted;*/
}





#booleanOperators {
}







/*http://blogs.sitepointstatic.com/examples/tech/css3-paper-curl/index.html*/

.box {
	clear: left;
	position: relative;
	padding: 10px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box:before, .box:after {
	position: absolute;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.box:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
} 


div.clearleft {
	clear: left;
}

fieldset {
	font-size: 90%;
	border-radius: 8px;
	border-color: rgba(244,244,244, 0.2);
}

fieldset > * {
    vertical-align: middle;
}

#footer {
	margin-top: 5px;
	padding: 5px;
	position: relative;
	bottom: 0;
	text-align: center;
	font-size: 90%;
	width: 95%;
	opacity:  0.5;
	margin: 1em;
	text-decoration: none;
}


/* thanks to http://jamesw.me/labs/css3_loading_spinner.html */

.spin-container {
	position: relative;
	top: -3px;
}

.spin {
	color: #FFF;
	position: absolute;
	top: 10px;	
	left: 0px;
	width: 8px;
	height: 8px;
	
	border-width: 2px;
	border-style: solid;
	border-color: #FFF #DDD #BBB #999;
	border-radius: 40px;
	
	-webkit-animation: spin 1s linear infinite; 
	-moz-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin  
{  
    from { -webkit-transform: rotate(0deg); }  
	50%  { -webkit-transform: rotate(180deg); }  
    to   { -webkit-transform: rotate(360deg); }  
}
@-moz-keyframes spin  
{  
    from { -moz-transform: rotate(0deg); }  
	50%  { -moz-transform: rotate(180deg); }  
    to   { -moz-transform: rotate(360deg); }  
}

@-webkit-keyframes bounce  
{  
	from { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50%  { -webkit-transform: rotate(0deg); opacity: 1; }
	to   { -webkit-transform: rotate(0deg); opacity: 0.4; }

}
@-moz-keyframes bounce  
{  
	from { -moz-transform: rotate(0deg); opacity: 0.6; }
	50%  { -moz-transform: rotate(0deg); opacity: 1; }
	to   { -moz-transform: rotate(0deg); opacity: 0.6; }
}

#result-header {
	font-size: 90%;
}

.clickable-div {
     cursor: pointer;
     /* workaround for ios - http://stackoverflow.com/questions/3705937/document-click-not-working-correctly-on-iphone-jquery */
}



input[type=radio].radio {
    position: absolute;
    left: -1000px;
}

input[type=radio].radio + label:before {
    content: "\f10c"; 
    font-family: FontAwesome;
    display: inline-block;
    padding: 0 0 0 0px;
    color: #444;
    padding-left: 5px;
}

input[type=radio].radio:checked + label:before {
    content: "\f111";
    font-family: FontAwesome;
    display: inline-block;
    padding: 0 0 0 0px;
    color: #444;
    padding-left: 5px;
    /*border: 1px black dotted;*/
}

label {
	white-space: nowrap;
}

.row:hover {
	background: #efefef;
}

/* https://davidwalsh.name/php-event-calendar */

#calendar {
	margin: 5px;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #efefef;
	border-radius: 8px;
}

#calendar .grid-cell {
    border-left: 1px dotted #dfdfdf !important;
    border-bottom: 1px dotted #dfdfdf !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.day {
	position: relative;
	padding: 7px;
}

#calendar ul.grid {
	list-style: none;
	padding: 0;
	margin: 0;
}

#calendar li.heading:first-child {
	border-top-left-radius: 8px;
	padding-left: 5px;
}

#calendar li.heading:last-child {
	border-top-right-radius: 8px;
	padding-right: 5px;
}


#calendar .heading {
   -moz-box-shadow: 0px 3px 11px #AAA;
    -webkit-box-shadow: 0px 3px 11px #AAA;
    box-shadow: 0px 3px 11px #AAA;
    background: #EFEFEF;
    z-index: 99;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}


.calendar-day > div {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

div.day-number	 { 
    background: #efefef;
    color: #999;
    border-bottom-left-radius: 8px;
    position: absolute;
    z-index: 2;
    top: -14px;
    right: 0px;
    margin: 0;
    padding: 5px;
    width: 20px;
    font-size: 100%;
    text-align: center;
}

.calendar-day, .calendar-day-np { 
	width:120px; 
	padding:5px 25px 5px 5px; 
	border: 1px solid #efefef;
}

.today {
	font-weight: bold;
	color: #FFF !important;
	background: RGBA(51, 101, 159, 0.5) !important;
}


div.event {
	margin: 0 !important;
	/*white-space: nowrap;*/
	font-size: 90%;
}

#calendar .courseNumber {
	color: #33659f;
}

.fromto {
	color: #999;
}

.day:hover, .coverageCell:hover { 
   -moz-box-shadow: -2px 8px 21px #AAA;
    -webkit-box-shadow: -2px 8px 21px #AAA;
    box-shadow: -2px 8px 21px #AAA;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;  	
 }

 .coverageCell {
   -moz-box-shadow: 0px 3px 11px #AAA;
    -webkit-box-shadow: 0px 3px 11px #AAA;
    box-shadow: 0px 3px 11px #AAA;
    background: #EFEFEF;
    z-index: 99;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

 }

 .rowSpacer {
 	margin-bottom: 1em;
 }